{% extends 'layout.html' %}
{% block title %}
    Professional | summary
{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary mb-4">
    <div class="container-fluid ">
        <a class="navbar-brand" href="#">Welcome to Professional</a>
            <div class="navbar-nav">
                <a class="nav-link " href="{{ url_for ('prof_home') }}" >Home</a>
                <a class="nav-link" href="{{ url_for('prof_search')}}">Search</a>
                <a class="nav-link active" aria-current="page" href="#">Summary</a>
                <a class="nav-link" href="{{ url_for('home') }}">Logout</a>
            </div>
    </div>
</nav>

<div class="container d-flex justify-content-center align-items-center flex-column mt-5">
    <h2 class="mb-4">Service Requests Summary</h2>
    <div class="d-flex justify-content-center">
        <img src="data:image/png;base64,{{ plot_url }}" alt="Service Requests Chart" class="img-fluid">
    </div>
</div>

{% endblock %}