{% extends 'layout.html' %}
{% block title %}
    admin home 
{% endblock %}
{% block content%}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
         <a class="navbar-brand" href="#">Welcome to Admin</a>
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                <a class="nav-link" href="{{ url_for('a_search') }}">Search</a>
                <a class="nav-link" href="{{ url_for('a_sum') }}">Summary</a>
                <a class="nav-link" href="{{ url_for('home') }}">Logout</a>
            </div>
    </div>
</nav>

<!-- Services -->
<div class="container mt-5">
    <p>Services</p>
    <div class="mt-3">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Base Price</th>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for service in services %}
                <tr>
                    <td>{{ service.id }}</td>
                    <td>
                        <form action="{{ url_for('a_home') }}" method="POST" >
                            <input type="hidden" name="id" value="{{ service.id }}">
                            <input type="number" name="base_price" value="{{ service.base_price }}" min="0" 
                                   class="form-control me-2" style="width: 100px;" 
                                   placeholder={{ service.base_price }}>
                    </td>
                    <td>
                            <input type="text" name="description" value="{{ service.description }}" 
                                   class="form-control me-2" 
                                   placeholder={{ service.description}}>
                    </td>
                    <td>
                            <button type="submit" name="action" class="btn btn-warning me-1" value="edit">Edit</button>
                            <button type="submit" name="action" class="btn btn-danger" value="delete">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{{ url_for('new_service') }}" class="btn btn-primary"> + New Service</a>
</div>
<!-- Packages -->
<div class="container mt-5">
    <p>Packages</p>
    <div class="mt-3">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">service</th>
                    <th scope="col">Description</th>
                    <th scope="col">Base Price</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for package in packages %}
                <tr>
                    <td>{{ package.id }}</td>
                    <td>{{ package.service_id }}</td>
                    <td>
                        <form action="{{ url_for('a_home') }}" method="POST" >
                            <input type="hidden" name="id" value="{{ package.id }}">

                            <input type="text" name="description" value="{{ package.description }}" 
                                   class="form-control me-2"  
                                   placeholder={{ package.description }}>
                    </td>
                    <td>
                            <input type="number" name="base_price" value="{{ package.base_price }}" min="0" 
                                   class="form-control me-2" style="width: 100px;" 
                                   placeholder={{ package.base_price }}>
                    </td>
                    <td>
                            <button type="submit" name="action" class="btn btn-warning me-1" value="edit">Edit</button>
                            <button type="submit" name="action" class="btn btn-danger" value="delete">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{{ url_for('new_package') }}" class="btn btn-primary"> + New Package</a>
</div>

<!-- Professionals -->
<div class="container mt-5 ">
    <p>Professionals</p>
    <div class="mt-3">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Service</th>
                    <th scope="col">Experience</th>
                    <th scope="col">Document</th>
                    <th scope="col">Action</th>
                </tr>
           </thead>
           <tbody>
                {% for professional in professionals %}
                <tr>
                    <td>{{ professional.id }}</td>
                    <td>{{ professional.name }}</td>
                    <td>{{ professional.service_id }}</td>
                    <td>{{professional.experience}}</td>
                    <td>
                        <a href="{{ url_for('static', filename='resumes/' + professional.document_url) }}" class="btn btn-primary" target="_blank">
                             {{ professional.document_url }}
                        </a>
                    </td>
                    <td>
                        <form action="{{ url_for('a_home') }}" method="POST" >
                            <input type="hidden" name="id" value="{{ professional.id }}">
                            <button type="submit" name="action" class="btn btn-success" value="accept">Accept</button>
                            <button type="submit" name="action" class="btn btn-danger" value="reject">Reject</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>



{% endblock %}
{% block style %}
<style>
    p {
        font-size: 30px;
        font-family:"Times New Roman", Times, serif;   
    }
   
</style>
{% endblock %}
